/* CSS files --> contact.html */
body{
    background-color: #C9E4C5;
}
table{
    width:100%; 
    text-align: center;
    background-color: #FAEBE0;
}
h1{
    text-align: center;
    font-family: cursive;
    background-color: #C1AC95;
}