/* CSS file --> index.html */
/* (1) Tag Selector */
body{
    background-color:#F2E1C1 ;
}
h1{
    text-align: center;
    font-family: cursive;
    /*background-color: #D3F6F3;*/
}
h2{
    text-align: center;
    font-family: cursive;
    font-weight:normal;
    /*background-color: #F9FCE1;*/
}
h4{
    text-align: center;
    font-family: Aclonica ;
    font-weight:normal;
}
table{
    width:100%;
    text-align: center
}
th{
    width: 33.33%; 
    vertical-align: top;
}
/* (2) Class Selector */
.p-Aboutme{
    font-weight:normal; 
    text-align: justify;
}
.p-Name{
    font-weight:normal;
}
.p-Footer{
    text-align: center
}
.name{
    text-decoration: underline
}
/* (3) Id Selector */
#th-Details{
    text-align: left;
}
/* div */
.top-container{
    background-color: #F6AE99;
}
.table-menu td:hover{
    background-color: #FF8882;
}
.table-content h2{
    background-color: #B97A95;
}
.table-content img:hover{
    background-color: #C9CCD5;
}